<head>
	<title>Amministrazione</title>
	<link href="style/header_style.css" rel="stylesheet">
</head>
<div id="conteudo">
<h1>Modifica Articolo</h1>

<!--mando os dados do form pro metodo update da Model q vai modifica-los no db-->
<form action="?pagina=admin&metodo=update" method="post">
	<span>Data</span><br>
	<input type="date" name="data" value="{{data}}"><br><br>

	<span>Titolo</span><br>
	<input type="text" name="titolo" value="{{titolo}}"><br><br>

	<span>Testo</span><br>
	<textarea cols="55" rows="5" name="testo">{{testo}}</textarea><br><br>

	<!--como tb preciso do valor id p modificar crio um input id escondido p na aparecer no form-->
	<input type="hidden" name="id" value="{{id}}">
	
<!--retiro o name d botao senao ele envia tb esse valor p o post-->
	<input type="submit" value="Modifica">
</form>
</div>